html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

// NAVBAR

.navbar {
  width: 100vw;
  z-index: 0;
  top: 0;
  transition: top 1.5s;
}

.navbar--hidden {
  top: -350px;
}

// NAVIGATION

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(0, 0, 0);
}

// stroke

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

// DISCOVER

.discover_btn {
  text-decoration: underline;
  width: 100vw;
  position: relative;
  top: -60px;
  color: white;
  font-size: 1.6em;
  text-shadow: #474747 3px 5px 2px;
}

.discover_img--container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.discover_img1,
.discover_img2 {
  height: 50vh;
  width: 100vw;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.discover_h1 {
  color: white;
  text-shadow: #474747 3px 5px 2px;
  font-size: 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

@media (min-width: 768px) {
  .discover_img1 {
    height: 22rem;
    width: 50vw;
  }

  .discover_img2 {
    height: 250px;
    width: 23rem;
    position: relative;
    top: -25px;
  }

  .discover_img1--flex {
    display: flex;
    justify-content: flex-end;
  }

  .discover_h1 {
    color: black;
    width: 250px;
    text-shadow: none;
    font-size: 6em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    margin-left: 20px;
  }

  .discover_btn {
    color: black;
    left: 150px;
    top: -150px;
  }
}

@media (min-width: 1000px) {
  .discover_img1 {
    height: 30rem;
    width: 50%;
    z-index: 1000;
    position: relative;
    top: 0px;
  }

  .discover_h1 {
    font-size: 7em;
    margin-left: 30px;
    margin-top: 50px;
  }

  .discover_img2 {
    height: 250px;
    width: 380px;
    position: relative;
    top: -90px;
  }
}

@media (min-width: 1200px) {
  .discover_img1 {
    height: 35rem;
    width: 50%;
    z-index: 1000;
    position: relative;
    top: -60px;
  }

  .discover_h1 {
    font-size: 9em;
    margin-left: 30px;
    margin-top: 20px;
  }

  .discover_img2 {
    height: 250px;
    width: 380px;
    position: relative;
    top: -100px;
  }

  .discover_btn {
    width: 100vw;
    position: relative;
    font-size: 1.5em;
    color: black;
    top: -220px;
    left: 150px;
  }
}

@media (min-width: 1600px) {
  .discover_img1 {
    height: 100vh;
    width: 50%;
    z-index: 1000;
    position: relative;
    top: -60px;
  }

  .discover_h1 {
    font-size: 12em;
    margin-left: 100px;
    margin-top: 50px;
  }

  .discover_img2 {
    height: 300px;
    width: 450px;
    position: relative;
    top: -330px;
  }

  .discover_btn {
    width: 100vw;
    position: relative;
    top: -400px;
    right: 230px;
    font-size: 2em;
    color: black;
    top: -450px;
    left: -250px;
  }
}

// UNIQUE

.unique_img {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.unique_img--size1,
.unique_img--size2,
.unique_img--size3 {
  width: 100vw;
}

.unique_h1 {
  font-size: 5em;
}

.unique_p {
  max-width: 90%;
  font-size: 1.4em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .unique_p {
    font-size: 1.4em;
    max-width: 90%;
    text-align: start;
  }

  .unique_img--size1,
  .unique_img--size2,
  .unique_img--size3 {
    height: 25rem;
    min-width: 20rem;
  }

  .unique_row--container {
    justify-content: center;
  }
  @media (min-width: 1200px) {
    .unique {
      margin-top: -60px;
    }

    .unique_img--size1 {
      height: 35rem;
      min-width: 25rem;
    }

    .unique_img--size2 {
      height: 30rem;
      min-width: 20rem;
    }

    .unique_img--size3 {
      height: 15rem;
      min-width: 15rem;
    }

    .unique_h1 {
      font-size: 12em;
      color: black;
    }

    .unique_p {
      max-width: 400px;
      text-align: start;
      font-size: 1em;
      margin-left: 100px;
      margin-top: -80px;
    }

    .unique_image--position1 {
      position: relative;
      bottom: 250px;
      right: 100px;
      z-index: -1;
    }

    .unique_image--position2 {
      position: relative;
      top: 50px;
      right: 35px;
    }

    .unique_image--position3 {
      position: relative;
      bottom: 120px;
      left: 70px;
    }

    .fa-arrow-right {
      position: relative;
      left: 400px;
      bottom: 145px;
    }
  }

  @media (min-width: 1600px) {
    .unique {
      margin-top: -250px;
    }

    .unique_h1 {
      font-size: 15em;
      color: black;
    }

    .unique_img--size1 {
      height: 45rem;
      min-width: 35rem;
    }

    .unique_img--size2 {
      height: 35rem;
      min-width: 20rem;
    }

    .unique_img--size3 {
      height: 20rem;
      min-width: 25rem;
    }

    .unique_p {
      margin-left: 20px;
      font-size: 1.2em;
    }

    .unique_image--position1 {
      bottom: 330px;
      right: 100px;
    }

    .unique_image--position2 {
      right: 50px;
    }

    .unique_image--position3 {
      left: 80px;
    }

    .fa-arrow-right {
      left: 500px;
      bottom: 180px;
    }
  }
}
